.home {
	$home: &;
	overflow-x: hidden;

	#{$home}__hero {
		width: 100%;
		height: 100vh;
		position: relative;

		&-swiper-poster,
		&-swiper-new {
			width: 100%;
			height: 100%;

			&-slide img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-swiper-poster {
			&-slide {
				pointer-events: none;
				user-select: none;
			}
		}

		&-swiper-new {
			&-slide {
				cursor: pointer;
				border-radius: 8px;
				position: relative;

				&:hover {
					clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 10%, 85% 0%);

					&::after {
						content: "";
						position: absolute;
						top: 0;
						right: 0;
						border-top: 30px solid transparent;
						border-left: 30px solid #000;
						border-right: 0px solid transparent;
					}
				}

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: inherit;
					background-color: rgba(0, 0, 0, 0.6);
					transition: background-color 0.5s ease-in-out;
				}

				&.swiper-slide-thumb-active {
					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, 0);
					}
				}

				img {
					border-radius: inherit;
				}
			}
		}

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: absolute;
			top: 50%;
			left: 0%;
			transform: translateY(-50%);
			z-index: 1;
			width: 100%;
			height: 100%;
		}

		&-inner {
			height: 40%;
			width: 55rem;
			padding: 30px 20px;
			border-radius: 8px;
			background-color: rgba(255, 255, 255, 0.3);
			backdrop-filter: blur(10px);
		}
	}
}